---
- name: Restart Etcd service
  systemd:
    name: etcd
    enabled: true
    daemon_reload: true
    state: restarted
  listen: Restart

- name: Wait until the etcd cluster is healthy
  command: >
    /usr/local/bin/etcdctl endpoint health
    --endpoints=http://{{ inventory_hostname }}:2379
  register: etcd_health_result
  until: "'is healthy' in etcd_health_result.stdout"
  retries: 10
  delay: 10
  changed_when: false
  ignore_errors: false
  listen: Health